---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const today = new Date();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
 		 <div class="contacts">
				<a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x75;&#x6e;&#x69;&#x63;&#x61;&#x64;&#x76;&#x65;&#x72;&#x74;&#x69;&#x73;&#x69;&#x6e;&#x67;&#x6e;&#x65;&#x74;&#x77;&#x6f;&#x72;&#x6b;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;">&#x75;&#x6e;&#x69;&#x63;&#x61;&#x64;&#x76;&#x65;&#x72;&#x74;&#x69;&#x73;&#x69;&#x6e;&#x67;&#x6e;&#x65;&#x74;&#x77;&#x6f;&#x72;&#x6b;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;</a>
                <div class="socials">
        			<a href="https://t.me/joinchat/GuSD1BC0lFR69RoPalTgBQ" target="_blank" rel="nofollow"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
        			<a href="https://twitter.com/UnicNetwork" target="_blank" rel="nofollow"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        			<a href="https://fb.me/unicnetwork" target="_blank" rel="nofollow"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        			<a href="https://www.linkedin.com/company/unic-network/" target="_blank" rel="nofollow"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        			<a href="https://www.reddit.com/user/UNIC-Network/" target="_blank" rel="nofollow"><i class="fa fa-reddit fa-2x" aria-hidden="true"></i></a>
        			<a href="https://angel.co/unic-advertising-network" target="_blank" rel="nofollow"><i class="fa fa-angellist fa-2x" aria-hidden="true"></i></a>
        			<a href="https://www.youtube.com/channel/UCTllZ7qN9QtOWZudHE8r1Qw/" target="_blank" rel="nofollow"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
        			<a href="https://vk.com/unicnetwork" target="_blank" rel="nofollow"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
        			<a href="https://bitcointalk.org/index.php?topic=3015740" target="_blank" rel="nofollow"><i class="fa fa-btc fa-2x" aria-hidden="true"></i></a>
        			<a href="https://github.com/unicads/smart-contract-structure" target="_blank" rel="nofollow"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </div>
				<p><i class="fa fa-copyright" aria-hidden="true"></i> {today.getFullYear()}  UNIC Advertising Network</p>
			</div>
		</div>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-111569014-1"></script>
		<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111569014-1');
		</script>
	</body>
</html>
